In [1]:
import pandas as pd
from sqlalchemy import create_engine
#!pip install psycopg2
import psycopg2

In [2]:
# store netflix in a dataframe
csv_file1 = "netflix_titles.csv"
netflix_df = pd.read_csv(csv_file1)
#netflix_df.head()

# clean the nexflix data frame
# I like the names so I won't rename
netflix = netflix_df[['type', "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in"]].copy()

In [3]:
# store google trends in a data frame
csv_file2 = "trends.csv"
trends_df = pd.read_csv(csv_file2)
#trends_df.

# Get indexes where name column doesn't have value 
justglobal = trends_df[~(trends_df['location'] == 'Global')].index 
# Delete these row indexes from dataFrame
trends_df.drop(justglobal , inplace=True)
trends_df.reset_index(drop='true')

     location  year         category  rank                 query
0      Global  2001  Consumer Brands     1                 Nokia
1      Global  2001  Consumer Brands     2                  Sony
2      Global  2001  Consumer Brands     3                   BMW
3      Global  2001  Consumer Brands     4                  Palm
4      Global  2001  Consumer Brands     5                 Adobe
...       ...   ...              ...   ...                   ...
1130   Global  2020         TV Shows     1            Tiger King
1131   Global  2020         TV Shows     2    Big Brother Brasil
1132   Global  2020         TV Shows     3           Money Heist
1133   Global  2020         TV Shows     4             Cobra Kai
1134   Global  2020         TV Shows     5  The Umbrella Academy

[1135 rows x 5 columns]

In [4]:
#connect to pg admin
engine = create_engine('postgres://postgres:postgres@localhost:5432/ETL_netflix')
conn = engine.connect()

In [5]:
#Check for tables
engine.table_names()

['Trends', 'NETFLIX']

In [6]:
trends_df.to_sql(name='Trends', con=engine, if_exists='append', index=False)

In [7]:
netflix.to_sql(name='NETFLIX', con=engine, if_exists='append', index=False)

In [1]:
pd.read_sql_query('select * from netflix', con=engine).head()

NameError: name 'pd' is not defined