In [1]:
import pandas as pd
from sqlalchemy import create_engine
#!pip install psycopg2
import psycopg2

In [2]:
# store netflix in a dataframe
csv_file1 = "netflix_titles.csv"
netflix_df = pd.read_csv(csv_file1)
#netflix_df.head()

# clean the nexflix data frame
# I like the names so I won't rename
netflix = netflix_df[['type', "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in"]].copy()
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies"
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas

In [3]:
# store google trends in a data frame
csv_file2 = "trends.csv"
trends_df = pd.read_csv(csv_file2)
#trends_df.

# Get indexes where name column doesn't have value 
justglobal = trends_df[~(trends_df['location'] == 'Global')].index 
# Delete these row indexes from dataFrame
trends_df.drop(justglobal , inplace=True)
trends_df.reset_index(drop='true')

     location  year         category  rank                 query
0      Global  2001  Consumer Brands     1                 Nokia
1      Global  2001  Consumer Brands     2                  Sony
2      Global  2001  Consumer Brands     3                   BMW
3      Global  2001  Consumer Brands     4                  Palm
4      Global  2001  Consumer Brands     5                 Adobe
...       ...   ...              ...   ...                   ...
1130   Global  2020         TV Shows     1            Tiger King
1131   Global  2020         TV Shows     2    Big Brother Brasil
1132   Global  2020         TV Shows     3           Money Heist
1133   Global  2020         TV Shows     4             Cobra Kai
1134   Global  2020         TV Shows     5  The Umbrella Academy

[1135 rows x 5 columns]

In [4]:
#connect to pg admin
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ETL_netflix')
conn = engine.connect()

In [5]:
#Check for tables
engine.table_names()

['trends', 'netflix', 'NETFLIX']

In [6]:
trends_df.to_sql(name='trends', con=engine, if_exists='append', index=False)
pd.read_sql_query("select * from trends", con=engine).head()

  location  year         category  rank  query
0   Global  2001  Consumer Brands     1  Nokia
1   Global  2001  Consumer Brands     2   Sony
2   Global  2001  Consumer Brands     3    BMW
3   Global  2001  Consumer Brands     4   Palm
4   Global  2001  Consumer Brands     5  Adobe

In [11]:
netflix.to_sql(name='netflix', con=engine, if_exists='append', index=False)
pd.read_sql_query("select * from netflix", con=engine).head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,TV Show,3%,None,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,R,78 min,"Horror Movies, International Movies"
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,PG-13,123 min,Dramas